
.map-container {
  position: relative;
  width: 95dvw;
  height: 92dvh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50 !important;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
  cursor: default !important;
}
#map.addingMode{
  cursor: pointer !important;
}
.z-index{
  z-index: 5000;
}
