<div class="row dvh-100 main justify-content-center align-content-center align-items-center align-middle">
  <div class="overflow-y-scroll main-div bg-light col-xl-8 col-lg-10 col-md-10 col-sm-11 col-11  rounded-5 mt-5 ">
    <div class=" row justify-content-center align-content-center align-middle mt-5">
      <div class="col-md-9 col-12">
        <p class="h4 text-center">
          Welcome to Excalibur Community, where love reigns supreme and connections are forged with the strength of a
          legendary sword.
        </p>
        <p class="description">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At Excalibur Community, we believe in more than just swiping right or left. We're dedicated to creating a
          vibrant,
          inclusive space where singles can embark on their quest for companionship, guided by the principles of
          chivalry,
          honor, and respect.
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our platform is designed to empower individuals to find their perfect match, whether it be a casual encounter
          or
          a
          lifelong partnership. With our advanced matching algorithms and personalized profiles, we strive to ensure
          that
          every connection made on Excalibur Community is meaningful and authentic.
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  But Excalibur Community is more than just a dating app—it's a sanctuary for modern-day knights and maidens
          seeking
          their own happily ever after. We provide a safe and secure environment where members can engage in meaningful
          conversations, share their passions, and explore their interests without fear or judgment.
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join us on a journey where love knows no boundaries and every swipe brings you one step closer to your
          destiny.
          <br>
        <p class="h4 text-primary">Welcome to Excalibur Community, where your fairytale romance awaits.</p>
      </div>
    </div>
  </div>
</div>
