<div class="container h-90">
  <div class="row align-bottom align-items-end mt-3">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <span class="h3">Profile image</span>
      </div>
      <div class="col-6 mt-3" #profileImg id="profileImg"></div>
    </div>
    <div class="col-12 mt-3 text-center">
      <button class="btn btn-primary" (click)="openDialog()">Change profile photo</button>
    </div>
    <form class="col-6 mt-2" [formGroup]="photoService.addPhotoForm">
      <label for="formFile" class="form-label">Add a new photo</label>
      <input class="form-control" type="file" id="formFile" formControlName="photo" (change)="photoService.addPhoto($event)">
    </form>
    <div class="col-3">
      <button class="btn btn-primary" [disabled]="!photoService.enableAddPhotoButton()" (click)="photoService.savePhoto()">Add</button>
    </div>
  </div>
  <div class="row mt-5">
      <app-photo class="col-4" *ngFor="let image of photoService.userData?.userProfileDto?.images" [img-url]="image"></app-photo>
    </div>
</div>
