<div class="container h-90">
  <div class="row align-bottom align-items-end mt-3">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <span class="h3">Profile image</span>
      </div>
      <div class="col-xl-6 col-lg-7 col-md-8 col-sm-9 col-11 mt-3" #profileImg id="profileImg"></div>
    </div>
    <div class="col-12 mt-3 text-center">
      <button class="btn btn-primary" (click)="openDialog()">Change profile photo</button>
    </div>
    <form class="col-xl-6 col-md-8 col-sm-12 col-12 mt-2" [formGroup]="photoService.addPhotoForm">
      <label for="formFile" class="form-label">Add a new photo</label>
      <input class="form-control" type="file" id="formFile" formControlName="photo" (change)="photoService.addPhoto($event)">
    </form>
    <div class="col-xl-2 col-md-4 col-sm-12 col-12 mt-2 text-center">
      <button class="btn w-75 btn-primary" [disabled]="!photoService.enableAddPhotoButton()" (click)="photoService.savePhoto()">Add</button>
    </div>
  </div>
  <div class="row mt-5 justify-content-center justify-content-md-start">
      <app-photo class="col-lg-4 col-md-6 col-12" *ngFor="let image of photoService.userData?.userProfileDto?.images" [img-url]="image"></app-photo>
    </div>
</div>
