 <main class="row align-content-center flex-wrap ">
    <div class="container h-25">
      <div class="row justify-content-center align-items-center h-100">

        <div class="row justify-content-center align-items-center h-50 w-100">
          <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11  h-50 mt-4">
            <div class="row text-center justify-content-center h-100">
                <div role="button" class="h-100 rounded-pill button row align-items-center link login" routerLink="/login" #login>
                  <span>Login</span>
                </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center h-50 w-100">
          <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-11 h-50 mb-4">
            <div class="row text-center justify-content-center h-100">
                <div role="button" class="row h-100 rounded-pill button  align-items-center link register" routerLink="/register" #register>
                  <span>Register</span>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
