<div class="row w-25 h-100 align-content-end z-index">
  <div class="col-12 z-index">
    <button [matMenuTriggerFor]="menu" mat-fab color="primary" class="menu-button ms-3 mb-3" aria-label="Example icon button with a home icon">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="enableAddingMode()" routerLink="event/newEvent">Add event</button>
      <button mat-menu-item routerLink="event/userEvents">My events</button>
      <button mat-menu-item routerLink="event/allEvents">All events</button>
    </mat-menu>
  </div>
</div>
