#main, #profileImg{
  width: 15dvw;
  height: 15dvw;
  background-position: center;
  background-size: cover;
}
.mat-icon{
  transform: scale(115%);
  transition: transform 0.5s;
}
.mat-icon:hover{
  transform: scale(130%);
  transition: transform 0.5s;
}
.selected{
  transform: scale(110%);
  border: 5px solid gold;
}
@media screen and (width  < 576px) {
  #main{
    width: 65dvw;
    height: 65dvw;
  }
}
@media screen and (min-width: 576px) {
  #main{
    width: 50dvw;
    height: 50dvw;
  }
}

@media screen and (min-width: 768px) {
  #main{
    width: 25dvw;
    height: 25dvw;
  }
}
@media screen and (min-width: 992px) {
  #main{
    width: 20dvw;
    height: 20dvw;
  }
}
@media screen and (min-width: 1200px) {
  #main{
    width: 20dvw;
    height: 20dvw;
  }
}
