<div class="container-fluid">
<div class="row w-100 h-100 position-absolute d-sm-block d-md-none d-lg-none d-xl-none" id="navMenu" #navMenu>
  <div class="container h-100">
    <div class="row justify-content-center align-content-center gap-3 align-middle h-75 flex-wrap">
      <div class="col-10 w-75 bg-light menu-button border border-success rounded-pill">
        <div class="row h-100 align-items-center text-center">
          <div role="button" routerLink="/" (click)="closeMenu()">Home</div>
        </div>
      </div>
      <div class="col-10 w-75 bg-light menu-button border border-success rounded-pill">
        <div class="row h-100 align-items-center text-center">
          <div role="button" routerLink="/about" (click)="closeMenu()">About</div>
        </div>
      </div>
      <div class="col-10 w-75 bg-light menu-button border border-success rounded-pill">
        <div class="row h-100 align-items-center text-center">
          <div role="button" routerLink="/rules" (click)="closeMenu()">Rules</div>
        </div>
      </div>
      <div class="col-10 w-75 bg-light menu-button border border-success rounded-pill">
        <div class="row h-100 align-items-center text-center">
          <div role="button"  routerLink="/login" (click)="closeMenu()">Connect</div>
        </div>
      </div>
    </div>
    <div class="row h-25 justify-content-center align-items-center align-content-center">
      <div class="col-10 w-75 bg-light menu-button border border-success rounded-pill">
        <div class="row h-100 align-items-center text-center">
          <div role="button">
            Language
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="bg-gradient row align-items-center position-fixed">
  <div class="col-xl-1 col-lg-2 col-md-2 col-sm-6 col-6">
    <div class="ms-4 ms-s-3 flex-column align-middle" style="font-size: 30px; color: red">
      <span role="button" routerLink="/">Logo</span>
    </div>
  </div>
  <div class=" d-sm-block d-md-none d-lg-none d-xl-none col-sm-6 col-6 text-end ">
    <a role="button" id="menuButton" #menuButton>
      <img class="menu me-3"
           src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg" alt="Menu">
    </a>
  </div>

  <div class="col-xl-6 col-lg-5 col-md-4 d-none  d-sm-none d-md-block d-lg-block d-xl-block">
    <ul class="list-group list-group-horizontal flex-nowrap ">
      <li class="list-group-item bg-transparent border-0" role="button" routerLink="/">
        <span>Home</span>
      </li>
      <li class="list-group-item bg-transparent border-0" role="button" routerLink="/about">
        <span>About</span>
      </li>
      <li class="list-group-item bg-transparent border-0" role="button" routerLink="/rules">
        <span>Rules</span>
      </li>
    </ul>
  </div>
  <div class="col-xl-5 col-lg-5 col-md-6 d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <ul class="list-group list-group-horizontal flex-nowrap justify-content-end me-lg-5 ms-md-5">
      <li class="list-group-item bg-transparent border-0" role="button" >
        <span>Language</span>
      </li>
      <li class="list-group-item bg-transparent border-0" role="button"  routerLink="/login">
        <span>Connect</span>
      </li>
    </ul>
  </div>
</nav>
</div>
