<div class="container">
  <div class="row justify-content-center">
    <form class="col-md-7 col-12 mt-3 text-center" [formGroup]="preferenceService.preferenceForm">
      <mat-form-field [style.width.%]="90">
        <mat-label>Preference</mat-label>
        <mat-icon matSuffix> local_activity</mat-icon>
        <mat-select multiple formControlName="preferenceList">
          <mat-option *ngFor="let preference of preferenceService.preferenceList"
                      [value]="preference">{{preference | enumFormat}} </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="col-6 text-center">
      <button class="btn btn-primary w-100 m-auto" [disabled]="!preferenceService.enableSaveButton()" (click)="preferenceService.savePreferences()">Add preferences</button>
    </div>
    <div class="col-8">
      <mat-list>
        <mat-list-item *ngFor="let preference of preferenceService.userData?.userProfileDto?.preferenceList" (click)="preferenceService.savePreferences()">
          <div class="row align-middle align-items-center">
            <div class="col-6">
              {{preference | enumFormat}}
            </div>
            <div class="col-6 text-end">
              <button mat-icon-button class="text-danger" (click)="preferenceService.removePreference(preference)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
