<form class="row h-100 justify-content-center align-content-center align-middle"
      [formGroup]="loginService.newPasswordForm">
  <div class="row h-100 overflow-hidden  align-middle justify-content-center align-content-center align-items-center"
       *ngIf="tokenIsValid">
    <div class="col-md-12 col-12 h5 text-center">Reset your password</div>
    <div class="col-md-1"></div>
    <div class="col-md-10 col-12 mt-2 text-center">
      <mat-form-field [style.width.%]="100">
        <mat-label>Enter your new Password</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input autocomplete="new-password" matInput required type="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="col-md-1 text-start">
      <div [style.width.%]="100" class="text-start w-100"
           *ngIf="loginService?.newPasswordForm?.get('password')?.errors?.['pattern'] && loginService?.newPasswordForm?.get('password')?.touched">
        <mat-icon matTooltip="Minimum 8 characters(upper letter, number and special character)"
                  matTooltipPosition="left">
          info
        </mat-icon>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10 col-12 mt-2 text-center">
      <mat-form-field [style.width.%]="100">
        <mat-label>Repeat your new Password</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input autocomplete="new-password" matInput required type="password" formControlName="repeatedPassword">
      </mat-form-field>
    </div>
    <div class="col-md-1"></div>
    <div>
    </div>
    <div class="col-xl-12 mt-2 text-center">
      <button class="btn btn-primary send-button" [disabled]="!loginService.enableNewPasswordButton()"
              (click)="changePassword()">Reset password
      </button>
    </div>
  </div>
  <div class="col-md-12 col-12 h5 text-center" *ngIf="displayPasswordSuccessChange">Your password was successful changed!
    Please, login again with your new password
  </div>
  <div class="col-md-12 col-12 h5 text-center" *ngIf="displayPasswordErrorChange">The activation link is invalid or has
    expired. Please, try to reset your password again
  </div>
  <div class="row overflow-hidden  align-middle justify-content-center align-content-center align-items-center"
       *ngIf="!displayPasswordErrorChange && !tokenIsValid && !displayPasswordSuccessChange">
    <div class="col-md-6 col-12 text-center">
      <mat-spinner class="ms-4"></mat-spinner>
    </div>
  </div>
</form>
