<div class="friend row align-items-center justify-content-center" role="button"
     (click)="onFriendClick()" [routerLink]="'/user/chat'" [queryParams] = "{userId: userProfile.userId}" #container>
  <div class="col-md-2 col-1 img-container" #imgContainer>
    <div class="row status-container justify-content-end align-items-end align-bottom">
      <div class="col-1">
        <div class="ms-2" [ngClass]="{
        'online-circle': userProfile.online,
        'offline-circle': !userProfile.online
        }"></div>
      </div>
    </div>
  </div>
  <div class="col-7 ms-md-0 text-md-center">
    <div>{{userProfile?.firstName}} {{userProfile?.lastName}}</div>
    <div>{{lastMessage?.content | message}}</div>
  </div>
  <div class="col-3 text-center">
    <div>{{lastMessage?.time | date}}</div>
  </div>
</div>

