<div class="row dvh-100 main justify-content-center align-content-center align-items-center align-middle ">
  <div class="main-div bg-light col-xl-8 col-lg-10 col-md-10 col-sm-11 col-11  rounded-5 mt-5 overflow-y-scroll">
    <div class="row mt-5 justify-content-center align-middle align-items-center">
      <div class="col-md-9 col-12">
        <p class="h3 text-primary text-center">Rules</p>
        <div class="description">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Excalibur Community, where every member is a noble knight or
          fair maiden committed to upholding the
          highest standards of honor and integrity.
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To maintain the sanctity of our realm and ensure a harmonious
          experience for all, we have crafted the following code of conduct:

          <ol>
            <li>
            Chivalrous Conduct: Treat every member with the utmost respect and kindness. Conduct yourself as a true
            knight
            or maiden, embodying the virtues of courtesy, generosity, and compassion in all interactions.
            </li>
            <li>
            Nobility of Intent: Approach each connection with sincerity and honesty. Do not deceive or mislead others,
            for
            trust is the cornerstone of every meaningful relationship.
            </li>
            <li>
            Honor the Boundaries: Respect the boundaries and preferences of your fellow members. Do not engage in
            harassment, discrimination, or any form of disrespectful behavior. Remember, consent is paramount.
            </li>
            <li>
            Shield of Privacy: Safeguard the personal information of yourself and others. Refrain from sharing sensitive
            details or engaging in any activities that compromise the privacy and security of our community.
            </li>
            <li>
            Sword of Justice: Report any misconduct or violations of our community guidelines promptly. We rely on the
            vigilance of our members to maintain a safe and welcoming environment for all.
            </li>
            <li>
            Quest for Connection: Embark on your journey with an open heart and a willingness to explore. Be receptive
            to
            different perspectives and embrace the diversity of experiences that our community has to offer.
            </li>
            <br>
            By adhering to these noble principles, we can ensure that Excalibur Community remains a beacon of hope and
            companionship for all who seek it. Together, let us forge bonds that withstand the test of time and stand as
            a
            testament to the power of love and camaraderie.
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
