<form class="row w-100 align-middle align-content-center justify-content-center ms-2" [formGroup]="form">
  <app-image-to-send></app-image-to-send>
  <div class="col-md-11 col-10">
    <div class="bg-white w-100 text-div rounded-pill">
      <div class="row h-100 justify-content-center align-middle align-items-center">
        <div class="col-1">
          <img role=button alt="emoji" class="emoji-img  ms-sm-2 ms-1" src="https://cdn-icons-png.flaticon.com/512/1500/1500458.png"/>
        </div>
        <div class="col-lg-10 col-9 textarea">
          <textarea class="w-100" formControlName="textMessage"></textarea>
        </div>
        <div class="col-lg-1 col-2 text-center">
          <img alt="record" role="button" class="record-img" src="https://cdn.icon-icons.com/icons2/902/PNG/512/microphone_icon-icons.com_69348.png"/>
          <label for="send-file">
          <img alt="file" role="button" class="upload-img ms-md-2 ms-0" src="https://icons.veryicon.com/png/o/business/office-icon-series/load-file.png">
          </label>
          <input type="file" id="send-file" class="d-none" accept="image/*"(change)="onLoadFile($event)">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-2 text-start">
      <img alt="send" class="send-icon" role="button"
           src="https://www.iconninja.com/files/148/341/227/telegram-send-chat-media-message-icon.svg"
           alt="send"
           (click)="onSendMessage()"
      >
  </div>
</form>


