<div class="row mt-3 align-items-center">
  <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-2">
    <div class="message-img-profile ms-xl-2 ms-lg-2 ms-sm-2 ms-0" #imgProfile>
    </div>
  </div>
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 friend-message">
    <div class="row align-items-center align-middle message">
      <div class="col">{{message.content}}</div>
      <div class="hour">{{message.time | date}}</div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-2 col-md-2 col-sm-2 col-2">
    <button mat-button [matMenuTriggerFor]="menu" class="message-menu">▼</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="dropdown-item" (click)="translateMessage()">Translate</button>
      <button mat-menu-item class="dropdown-item">Report</button>
      <button mat-menu-item class="dropdown-item">Copy</button>
    </mat-menu>
  </div>
</div>
