<div class="row justify-content-center align-items-center align-middle mt-1">
  <div class="col-6 text-center user-img text-center" #imgContainer>
    <div *ngIf="!userProfileService.usersLoaded" class="row position-absolute loading-spinner justify-content-center align-middle align-items-center">
      <div class="col text-center">
        <mat-spinner class="m-auto"></mat-spinner>
      </div>
    </div>
    <div class="row h-25 justify-content-end">
      <div class="col-12 text-end">
        <mat-icon class="alert-button mt-3" role="button">warning</mat-icon>
      </div>
    </div>
    <div class="row h-50 justify-content-end align-items-center">
      <div class="col-12 text-end">
        <mat-icon class="next-button ps-2" role="button" (click)="userProfileService.nextUserProfile()">navigate_next</mat-icon>
      </div>
    </div>
    <div class="row h-25 align-items-end align-content-end">
      <div class="col-12 text-start user-info">
        <div class="row h-100 align-items-center mt-3">
          <div class="col-10">
            <p>
              <span class="user-name">{{userProfileService.selectedUserProfile?.firstName}}</span>
              <span class="age"> - {{userProfileService.selectedUserProfile?.birthDate | age}}Y</span>
            </p>
            <div class="row align-items-center">
              <div class="col-1">
                <mat-icon>location_on</mat-icon>
              </div>
              <div class="col">
                <span class="location">{{userProfileService.selectedUserProfile?.countryCode | country}}, {{userProfileService.selectedUserProfile?.city}} (2km away)</span>
              </div>
            </div>
          </div>
          <div class="col-1 mb-3">
            <mat-icon role="button" class="about-user">info</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
