.mat-icon {
  height: 28px;
  width: 28px;
}
.about-user{
  transform: scale(115%);
}
.user-name{
  font-size: 1.8rem;
}
.age{
  font-size: 1.3rem;
}
.location{
  font-size: 0.8rem;
  font-weight: 500;
}
.report-button{
  color: yellow;
}
.alert-button{
  color: yellow;
  font-size: 1.3rem;
}
.next-button{
  color: whitesmoke;
  font-size: 4rem;
  font-weight: 800;
  transition: transform 0.2s;

}
.next-button.mat-icon{
  width: 7dvh;
  height: 7dvh;
}
.user-img{
  width: 47.5dvh;
  height: 74dvh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  box-shadow: 0 25px 20px -20px rgba(0,0,0,0.45);
}
.user-info{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
  height: 20dvh;
  color: white;
  font-weight: 800;
}

.next-button:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
}
.loading-spinner{
  z-index: 2000;
  width: 47.5dvh;
  height: 74dvh;
  --mdc-circular-progress-active-indicator-color: #1fa7d2;
  backdrop-filter: blur(12px);
}
.filter-button{
  color: #1fa7d2;
  transform: scale(150%);
}
.compatibility{
  font-size: 1.5rem;
}

