<form class="row h-100 justify-content-center align-content-center align-middle" [formGroup]="loginService.loginForm">
  <div class="col-md-10 col-12 mt-4 text-center">
    <mat-form-field [style.width.%]="100">
      <mat-label>Enter your email</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <input aria-autocomplete="none" autocomplete="off" matInput required formControlName="email">
    </mat-form-field>
  </div>
  <div class="col-md-10 col-12 mt-1 text-center">
    <mat-form-field [style.width.%]="100">
      <mat-label>Enter your Password</mat-label>
      <mat-icon matSuffix>lock</mat-icon>
      <input autocomplete="new-password" matInput required type="password" formControlName="password">
    </mat-form-field>
  </div>
  <div>
    <div class="col-md-5 col-sm-12 text-center ms-md-1">
          <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [color]="'primary'">
             Remember
           </mat-checkbox>
         </span>
    </div>
  </div>
  <div class="col-xl-12 mt-2 text-center">
    <button class="btn btn-primary next-button" [disabled]="!loginService.enableLoginButton()" (click)="loginService.login()">Login</button>
  </div>
  <div class="col-xl-12 mt-3 text-center">
    <a routerLink="reset">Forgot login or password</a>
    <br>
    <a routerLink="/register">New user?</a>
  </div>
</form>
