<form class="row h-100 justify-content-center align-content-center align-middle" [formGroup]="loginService.forgetLoginForm">
  <div class="col-md-10 col-12 h5 text-center" *ngIf="!tokenCreated">Enter your email address</div>
  <div class="col-md-10 col-12 mt-4 text-center" *ngIf="!tokenCreated">
    <mat-form-field [style.width.%]="100">
      <mat-label>Enter your email</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <input aria-autocomplete="none" autocomplete="off" matInput required formControlName="email">
    </mat-form-field>
  </div>
  <div class="col-xl-12 mt-2 text-center" *ngIf="!tokenCreated">
    <button class="btn btn-primary next-button" [disabled]="!loginService.enableResetPasswordButton()" (click)="createResetPasswordToken()">Send</button>
  </div>
  <div class="col-md-10 col-12 h5 text-center" *ngIf="tokenCreated">
      If the entered email exists, you will receive a message to reset your password.
  </div>
  <div class="col-xl-12 mt-5 text-center">
    <a routerLink="/login">Login</a>
    <br>
    <a routerLink="/register">New user?</a>
  </div>
</form>
